<script type="text/stache" can-autorender>
  <can-import from="~/login/" />
  <x-login></x-login>
</script>
<script src="../../node_modules/steal/steal.js"
        main="can-view-autorender"></script>
